{% extends 'page.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ g.site_url }}/ckanext_showcase.css" />
{% endblock %}

{% block subtitle %}{{ _('Showcases') }}{% endblock %}

{% block content %}

  <div id="etsin-main">
    <div class="etsin-container organization-container">
      <div class="container">

        {% block flash %}
          {{ super() }}
        {% endblock %}

        <h2 class="page-title">{{ c.pkg_dict.name }}</h2>

        <div class="organization-view-content clearfix">

          {% block primary_content_inner %}
          {% endblock %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}