{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}
{% set name = pkg.title or pkg.name %}

{% block subtitle %}{{ pkg.title or pkg.name }} - {{ _('Showcases') }}{% endblock %}

{% block inner_content %}
<div class="etsin-container">
  <div class="container">

    <div class="row-fluid">
      <h2 class="page-title">{{ name }}</h2>
      <div class="organization-view-header">

        <div class="actions-and-ratings">
          <div class="button-container">
            {% if h.check_access('ckanext_showcase_update', {'id':pkg.id }) %}
              <div class="btn-group">
                {% link_for _('Manage'), controller='ckanext.showcase.controller:ShowcaseController', action='edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
              </div>
            {% endif %}
          </div>
        </div>

        <div>
        {% if c.showcase_pkgs %}
          {% set package = c.showcase_pkgs[0] %}
          {% set translated_title = h.get_translation(package.title) or package.name %}
          {% set link =  h.link_to(translated_title, h.url_for(controller='package', action='read', id=package.name)) %}
          {{ _("Related items for {}").format(link) | safe }}
        {% endif %}
        </div>

        <div class="organization-view-content clearfix">
          <div class="organization-about-wrapper">

            <div class="organization-about-left">
              <h2>{{ name }}</h2>
              {% if pkg.showcase_type %}
              <span class="label label-default">{{ h.resolve_link_type(pkg.showcase_type) }}</span></p>
              {% endif %}

              {% if pkg.showcase_notes_formatted %}
                <div class="notes embedded-content ckanext-showcase-notes">
                  {{ pkg.showcase_notes_formatted }}
                </div>
              {% endif %}

              {% block package_tags %}
                {% snippet "showcase/snippets/tags.html", tags=pkg.tags %}
              {% endblock %}

              {% if pkg.url %}
                <p><a class="btn btn-primary ckanext-showcase-launch" href="{{ pkg.url }}" target="_blank"><i class="icon-external-link"></i> {{ _('Launch website') }}</a></p>
              {% endif %}

            </div>

            <div class="organization-about-right">
              <div class="image">
                {% if pkg.image_display_url %}
                <img src="{{ pkg.image_display_url }}" alt="{{ name }}" class="media-image ckanext-showcase-image" width="200" height="125">
                {% endif %}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
